{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-use-before-define": ["error", {"functions": false}],
    "object-curly-spacing": ["error", "never"],
    "key-spacing": "off",
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off",
    "block-spacing": "off",
    "react/forbid-prop-types": "off",
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": "off",
    "comma-dangle": ["error", "always-multiline"]
  }
}
